# Core Django
Django==5.1.5
sqlparse==0.5.3
python-decouple==3.8
python-dotenv==1.1.0

# ASGI support
asgiref==3.8.1

# AI / Audio / OCR
SpeechRecognition==3.14.2
gTTS==2.5.4
pytesseract==0.3.13
Pillow==11.1.0
httpx==0.28.1

# Utility
requests==2.32.3
beautifulsoup4==4.13.3
urllib3==2.3.0
certifi==2025.1.31
idna==3.10
charset-normalizer==3.4.1

# Deployment
gunicorn==21.2.0
